@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
body { counter-reset: sheet; /* カウンタの初期化 */ font-family: 'Noto Sans Japanese', sans-serif; }
@media print {
a[href]:after { content: "" !important; }
abbr[title]:after { content: "" !important; }
}
img { border: none; }
a img { border: none; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-table; }
.sheet { width: 297mm; height: 189mm; /* 1mm余裕をもたせる */ page-break-after: always; position: relative; }
.sheet.commercial { page-break-after: avoid; }
img { max-width: 277mm; height: auto; }
.build_title { margin-top: 10px; margin-bottom: 10px; font-size: 20px; }
.cover h1 { font-size: 30px; padding-top: 50mm; margin-top: 0; }
.cover h4 { margin-bottom: 1mm; margin-top: 0; }
.cover h4.en { font-family: HelveticaNeue-UltraLight; font-weight: 100; }
.client { font-size: 11pt; font-weight: bold; padding-left: 5mm; position: relative; padding-bottom: 2mm; }
.client:before { position: absolute; width: 1px; height: 12mm; top: 0; left: 0; background: #000; content: ""; }
.client:after { position: absolute; width: 282mm; height: 2px; bottom: 0; left: -5mm; background: #000; content: ""; }
.author { background: #d52b2b; padding: 5mm; }
.author p { margin-top: 0; font-size: 10pt; margin-bottom: 2mm; }
.author p.date { margin-top: 5mm; }
.author { background: #e11b30; padding: 8mm 5mm; position: absolute; bottom: 5mm; width: 267mm; }
.author p.name { font-size: 20pt; font-weight: bold; }
.author p.company_name { font-size: 16pt; margin-bottom: 3mm; font-weight: bold; }
.author p { line-height: 1.2; }
.route-map { width: 277mm; height: auto; }
.notice { padding-top: 5mm; width: 277mm; }
.half { width: 50%; float: left; }
.notice p { font-size: 4pt; margin: 0; }
table { border-collapse: collapse; }
table.building-profile { width: 277mm; }
td.center { text-align: center; }
td.right-align { text-align: right; }
th.building-name { width: 110mm; }
th.building-addr { width: 80mm; }
table.building-profile { border-collapse: collapse; }
table.building-profile th { border-bottom: 1px solid #000; font-size: 11pt; font-weight: normal; padding-top: 8mm; }
table.building-profile td { font-size: 11pt; border-bottom: 1px solid #c9c9c9; line-height: 7mm; height: 7mm; }
caption { background: #e11b30; color: #000; text-transform: uppercase; padding: 1mm 0; font-family: HelveticaNeue-bold; }
table.single-info td.title { font-size: 24pt; }
table.building-profile.single-info td { height: auto; line-height: 1.6; border: none; }
table.building-profile.single-info th { border-color: #c9c9c9; }
table.building-profile.single-info td table caption { text-align: left; background: none; color: #e11b30; font-weight: bold; border-left: 4px solid #e11b30; padding: 0; text-indent: 2mm; line-height: 1.2; font-size: 9pt; }
table.building-profile.single-info td table td, table.building-profile.single-info td table th { font-size: 8pt; line-height: 1; height: 4mm; padding: 0; }
table.building-profile.single-info td table th { padding: 2mm 0 1mm; }
table.building-profile.single-info td table td.notes { line-height: 1.4; }
td.td_col1_3 { width: 25%; vertical-align: top; }
td.td_col2_3 { width: 75%; }
td.td_col2_3 { padding: 0 0 0 10mm; vertical-align: top; }
td.td_col2_3 table { width: 100%; }
td.td_col1_3 img { width: 100%; }
table.building-profile.single-info td table.current_status tr:nth-child(odd) td { background-color: #ffffff; }
table.building-profile.single-info td table.current_status tr:nth-child(even) td { background-color: #f4f4f4; }
table.building-profile.single-info th { padding-top: 2mm; }
table.building-profile.single-info td table td.total { padding-left: 3mm; }
td.var-top { vertical-align: top; }
table.building-profile.single-info td.space-empty { height: 5mm; }
td.plan-img img { width: 100%; }
table.building-profile.single-info td table.summary td, table.building-profile.single-info td table.summary th { font-size: 8pt; border: none; text-align: left; padding: 0; line-height: 1.6; }
table.building-profile.single-info td table.summary.time-to-use td { font-size: 6pt; line-height: 1; }
table.building-profile.single-info td table td.pad-left { padding-left: 5mm; }
table.building-profile.single-info td table.summary th { width: 21mm; }
table.building-profile.single-info td table.summary caption { margin-bottom: 1mm; }
table.building-details { margin-top: 3mm; }
table.building-profile.single-info td.title { border-top: 5px solid #e11b30; }
table.summary.building-summary { margin-bottom: 4mm; }
table.summary.time-to-use { margin-bottom: 10mm; }
/*printout ver2*/

table.building-list { width: 100%; }
table.building-list th { font-size: 5pt; line-height: 1.1; background: #e11b30; padding: 2mm 0; }
table.building-list td { font-size: 7pt; border-right: 1px solid #CCC; line-height: 1.2; }
th.label_1 { width: 8mm; }
th.label_2 { width: 70mm; }
th.label_9 { width: 55mm; }
th.label_10 { width: 30mm; }
td.build_img img { width: 100%; }
table.building-list td table td { height: 5mm; line-height: 1.2; border: none; padding: 0 1mm; }
table.building-list td table td.build_name { height: 10.3mm; font-size: 11pt; border-bottom: 1px solid #CCC; }
table.building-list td table td.build_name span.build_no { text-align: right; font-size: 5pt; display: block; }
table.building-list td table td.build_name, table.building-list td table td.build_no { background: #efefef; }
table.building-list td table { width: 100%; }
td.summary_td { padding: 0; vertical-align: top; }
table.building-list td table.lists td { padding: 0; }
.label_3 { width: 11mm; }
.label_4, .label_5, .label_6, .label_7 { width: 22mm; }
td.label_4, td.label_5, td.label_6, td.label_7 { text-align: right; }
table.lists tr:nth-child(even) td { background-color: #f4f4f4; }
table.lists tr.row_second td, table.building-list td table.lists td.center.label_3 { border-bottom: 1px solid #CCC; }
table.building-list td table.lists td.center.label_3 { border-right: 1px solid #CCC; }
table.building-list td table.facility-info td { border-bottom: 1px solid #CCC; }
/*table.lists tr:nth-child(odd) td {

    border-bottom: 1px solid #ffffff;

}*/
table.facility-info td.comment-texts { font-size: 5pt !important; height: auto; line-height: 1.4; }
td.no-border { border: none !important; }
.building-list tr { border-bottom: 2px solid #CCC; border-left: 1px solid #CCC; }
.building-list tr table tr, .building-list tr.tr-th { border: none; }
/*****ver3***********/

.commercial table { width: 100%; }
td.cam_date { width: 20mm; }
th.bo_name { width: 180mm; }
th.bo_fee { width: 12mm; }
th.bo_upd { width: 21mm; }
td.f_emp { width: 20mm; }
td.f_price_m_shiki { width: 7mm; }
td.f_price_t_rent { width: 14mm; }
td.f_price_a_rent { width: 17mm; }
td.f_price_t_mente { width: 13mm; }
td.f_acreg_str { width: 13mm; }
td.f_price_rerent { width: 10mm; }
td.f_price_amo_str, td.f_price_keymoney_str, td.f_oa { width: 11mm; }
td.f_purpose1, td.f_purpose2, td.f_purpose3, td.f_purpose4, td.f_purpose8 { width: 8mm; }
td.f_floor_str { width: 10mm; }
table.f_info { background: #f4f4f4; border-top: 1px solid #CCC; margin-bottom: 5mm; }
section.sheet.commercial table td, section.sheet.commercial table th { font-size: 8pt; line-height: 1.8; text-align: left; font-weight: normal; }
table.bd_data { border-bottom: 1px solid #e11b30; border-top: 3px solid #e11b30; }
table.b_info.br { border-bottom: 1px solid #e9e9e9; }
span.owner_type { border: 1px solid #000; padding: 2px; line-height: 1; display: inline-block; margin-right: 5px; }
section.sheet.commercial table.b_data td, section.sheet.commercial table.b_data th { line-height: 2.1; }
p.last_update { margin: 0; padding: 2px 0; font-size: 7pt; text-align: right; border-top: 1px solid #e9e9e9; border-bottom: 1px solid #e9e9e9; }
table.f_info tr { border-bottom: 1px solid #CCC; }
/* プレビュー用のスタイル */
@media screen {
body { background: #eee; }
.sheet { background: white; /* 背景を白く */ background: #ffffff; box-shadow: 0 .5mm 2mm rgba(0,0,0,.3); /* ドロップシャドウ */ margin: 5mm; padding: 10mm; width: 277mm; height: 189mm; }
}
@page { size: A4 landscape; margin: 10mm; }
@media print {
body { width: 277mm; /* needed for Chrome */ }
.sheet.commercial { height: auto !important; }
}