*.pdf
*.csv
*.htaccess
*.zip
*.gz
*.sql

apis
api-test
buildingPdfUploads
buildingPictures
floorPictures
marketAreaPicture
pdfArticle
planPictures
protected/extensions
wp
framework
assets

.DS_Store
.buildpath
.idea
.project
.settings
cal.html
protected/config/database.php

